@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@import 'tw-animate-css';

@theme {
	--font-inter: 'Inter Tight', sans-serif;
}
body {
	font-family: var(--font-inter);
}
html {
	scroll-behavior: smooth;
}

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: oklch(100% 0 277.432);
	--foreground: oklch(13% 0.005 277.432);
	--card: oklch(100% 0 277.432);
	--card-foreground: oklch(13% 0.005 277.432);
	--popover: oklch(100% 0 277.432);
	--popover-foreground: oklch(13% 0.005 277.432);
	--primary: #e5e5e5;
	--primary-foreground: #1a1a1a;
	--secondary: oklch(96.7% 0.003 277.432);
	--secondary-foreground: oklch(21% 0.035 277.432);
	--tertiary: oklch(92.27% 0.026 71.177);
	--muted: oklch(96.7% 0.003 277.432);
	--muted-foreground: oklch(55.1% 0.027000000000000003 277.432);
	--accent: oklch(96.7% 0.003 277.432);
	--accent-foreground: oklch(21% 0.035 277.432);
	--destructive: oklch(57.7% 0.245 27.325);
	--border: oklch(92.8% 0.006 277.432);
	--input: oklch(92.8% 0.006 277.432);
	--ring: oklch(70.7% 0.021500000000000002 277.432);
	--chart-1: oklch(64.6% 0.215 337.432);
	--chart-2: oklch(60% 0.11825000000000001 397.432);
	--chart-3: oklch(39.8% 0.07095 457.432);
	--chart-4: oklch(82.8% 0.1892 517.432);
	--chart-5: oklch(76.9% 0.18705 577.432);
	--sidebar: oklch(98.5% 0.002 277.432);
	--sidebar-foreground: oklch(13% 0.005 277.432);
	--sidebar-primary: oklch(21% 0.035 277.432);
	--sidebar-primary-foreground: oklch(98.5% 0.002 277.432);
	--sidebar-accent: oklch(96.7% 0.003 277.432);
	--sidebar-accent-foreground: oklch(21% 0.035 277.432);
	--sidebar-border: oklch(92.8% 0.006 277.432);
	--sidebar-ring: oklch(55.1% 0.027000000000000003 277.432);
}

.dark {
	--background: oklch(13% 0.005 277.432);
	--foreground: oklch(98.5% 0.002 277.432);
	--card: oklch(21% 0.035 277.432);
	--card-foreground: oklch(98.5% 0.002 277.432);
	--popover: oklch(21% 0.035 277.432);
	--popover-foreground: oklch(98.5% 0.002 277.432);
	--primary: #e5e5e5;
	--primary-foreground: #0a0a0a;
	--secondary: oklch(27.8% 0.033 277.432);
	--secondary-foreground: oklch(98.5% 0.002 277.432);
	--tertiary: oklch(92.27% 0.026 71.177);
	--muted: oklch(27.8% 0.033 277.432);
	--muted-foreground: oklch(70.7% 0.021500000000000002 277.432);
	--accent: oklch(27.8% 0.033 277.432);
	--accent-foreground: oklch(98.5% 0.002 277.432);
	--destructive: oklch(70.4% 0.191 22.216);
	--border: oklch(100% 0 0 / 10%);
	--input: oklch(100% 0 0 / 15%);
	--ring: oklch(55.1% 0.027000000000000003 277.432);
	--chart-1: oklch(48.8% 0.24294999999999997 277.432);
	--chart-2: oklch(69.6% 0.16985 397.432);
	--chart-3: oklch(76.9% 0.18705 457.432);
	--chart-4: oklch(62.7% 0.26445 517.432);
	--chart-5: oklch(64.5% 0.24509999999999998 577.432);
	--sidebar: oklch(21% 0.035 277.432);
	--sidebar-foreground: oklch(98.5% 0.002 277.432);
	--sidebar-primary: oklch(48.8% 0.24294999999999997 277.432);
	--sidebar-primary-foreground: oklch(98.5% 0.002 277.432);
	--sidebar-accent: oklch(27.8% 0.033 277.432);
	--sidebar-accent-foreground: oklch(98.5% 0.002 277.432);
	--sidebar-border: oklch(100% 0 0 / 10%);
	--sidebar-ring: oklch(55.1% 0.027000000000000003 277.432);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-teritary: var(--tertiary);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
